
#float1{
			float:left;
				
				}

#float2{
			float:right;
				}
#float3{
				clear:both;
				
				}				


#f1{
				float:left;
				
				}
				
#f2{
				float:right;
				
				}

#f3{
				float:right;
				
				}


#f4{
				float:right;
				
				}
				
	#f5	{
					clear:both;
					}		

#h1{
			float:	left;
		}
		
#h2{
			float:	left;
		}		

#h3{
			float:	left;
		}

#h4{
			clear:both;
		}


#a1{
			float:	left;
		}
		
#a2{
			float:	left;
		}		

#a3{
			float:	left;
		}

#a4{
			clear:both;
		}



.a1{
			float:left	;
				}








